---
import { Icon } from "astro-icon/components";
import KeisukeConfig from "../../keisuke.config";
import I18nKeys from "../locales/keys";
import { i18n } from "../locales/translation";
import SocialIcon from "./widgets/SocialIcon.astro";
---

<div class="flex w-full flex-row justify-center">
  <div class="flex w-full flex-col space-y-3">
    <div
      class="onload-animation rounded-3xl bg-[var(--card-color)] p-4"
      style=`animation-delay: var(--onload-animation-delay);`
    >
      <a href="/about" class="avatar-wrapper">
        <img
          src={KeisukeConfig.avatarUrl}
          alt="avatar"
          class="avatar lozad select-none"
        />
      </a>
      <div class="username mt-4">
        <p>{KeisukeConfig.username}</p>
      </div>
      <p class="slogan mt-2 text-center text-[var(--text-color-lighten)]">
        {KeisukeConfig.sign}
      </p>
      {
        KeisukeConfig.socialLinks.length > 0 && (
          <div class="mt-3 flex flex-row justify-center">
            <div class="flex w-full flex-wrap justify-center gap-3">
              {KeisukeConfig.socialLinks.map((item) => (
                <SocialIcon name={item.icon} link={item.link} />
              ))}
            </div>
          </div>
        )
      }
    </div>

    <!-- Interest Tags -->
    {
      KeisukeConfig.interestTags.length > 0 && (
        <div
          class="onload-animation space-y-2 rounded-3xl bg-[var(--card-color)] p-4"
          style="animation-delay: calc(var(--onload-animation-delay) + 1 * var(--onload-animation-interval));"
        >
          <div class="title m-[0.375rem]">
            <span
              class="pl-4 text-xl font-bold text-[var(--text-color)]"
            >
              <span data-i18n-key="side_bar_tags">{i18n(I18nKeys.side_bar_tags)}</span>
            </span>
          </div>
          <div class="flex max-w-[280px] flex-row flex-wrap">
            {KeisukeConfig.interestTags.map((tag) => (
              <span
                class="tag m-1 grow rounded-md bg-[var(--primary-color-lighten)] px-2.5 py-1"
              >
                <p class="text-center text-sm text-[var(--primary-color)]">
                  {tag}
                </p>
              </span>
            ))}
          </div>
        </div>
      )
    }
  </div>
</div>
<style>
  .avatar-wrapper::after {
    @apply absolute left-4 top-4 h-[272px] w-[272px] rounded-xl transition-all content-[''];
  }

  .avatar-wrapper::after:hover {
    @apply bg-black/25 dark:bg-black/50;
  }

  .avatar {
    @apply h-[272px] w-[272px] rounded-xl transition-all hover:cursor-pointer;
  }

  .username > p {
    @apply text-center text-2xl font-semibold text-[var(--text-color)];
    font-family: var(--title-font);
  }

  .username > div {
    @apply mx-auto mt-1 h-1 w-8 rounded-full bg-[var(--primary-color)];
  }

  .slogan {
    font-family: var(--title-font);
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .title::before {
    position: absolute;
    display: block;
    content: " ";
    background-color: var(--primary-color);
    top: 3px;
    bottom: 3px;
    width: 0.3rem;
    border-radius: 4px;
  }

  .tag {
    font-family: var(--primary-font);
  }
</style>
